.register-container {
    background-color: #D3E4CD;
    max-width: 500px !important;
    height: 600px;
    margin: auto;
    margin-top: 250px;
    border-radius: 2%;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.4);
}

body {
    background-color: #EBE3D5 !important;
    font-family: 'Times New Roman', Times, serif !important;
}

#name,
#phone,
#email,
#password {
    display: block;
    margin: 0 auto;
    width: 65%;
    height: 45px;
    margin-top: 50px;
    border-style: none;
}

.Registeration-text {
    text-align: center;
    padding-top: 25px;
    font-weight: 650;
    font-size: 40px;
}

.reg-Btn {
    width: 80px;
    height: 30px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
}

.login-hyperlink {
    max-width: 350px !important;
    margin-left: 120px !important;
    margin-top: 20px;
}